@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
    padding: 0;
    margin: 0;

    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.nav {
    background: #32CD99;
    padding: 10px;
    width: 100%;
    color: white;

    display: flex;
    align-items: center;
}

.x-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.nav a {
    color: white;
}

.nav h1 {
    margin-left: 25px;
}

.hero-container {
    background: url('forest.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    padding: 130px;
    color: white;
    width: 100%;
    backdrop-filter: blur(23px);
    -webkit-backdrop-filter: blur(23px);
    text-align: center;
}

.hero a {
    color: white;
}

.article a h1 {
    padding: 10px;
}

#articles {
    padding: 30px;
    display: flex;
    gap: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#articles a {
    text-decoration: none;
    color: black;
}

.article {
    border: solid 1px black;
    border-radius: 15px;
    width: 100%;
    text-wrap: wrap;
    height: 200px;
    display: flex;
    /* gap: 1--px; */
    flex-direction: column;
}

#ecosia {
    height: 100px;
    background-image: url('https://source.unsplash.com/random/1000x1000/?forest');
    background-position: center center;
    border-radius: 15px;
}

#carbon {
    height: 100px;
    background-image: url('https://source.unsplash.com/random/700x700/?forest');
    background-position: center center;
    border-radius: 15px;
}

#trees {
    height: 100px;
    background-image: url('https://source.unsplash.com/random/400x400/?forest');
    background-position: center center;
    border-radius: 15px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: dodgerblue;
    color: white;
    border-radius: 4px;
   }
   
   button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
    position: cursor;
   }
   
   button:active {
    transform: translate(0em, 0.2em);
   }

   a:hover {
    position: cursor;
   }